<div class="yourPosts">
    <div class="renderedPostHeader ui secondary menu">
        <div class="item">
            <h5 class="postName">{{post_name}}</h5>
        </div>
        <div class="right menu">
            <div class="item">
                <h7>Posted by {{user_name}} on 6/15/23</h7>
            </div>
        </div>
    </div>
    <div class="renderedPostContent">
        <p>{{post_content}}</p>
    </div>
</div>