<div class="ui huge menu" id="appMenu">
    <div class="item">
        <h3>Tech Blog</h3>
    </div>
    <a class="item" href="/">HomePage</a>
    <a class="item" href="/dashboard">DashBoard</a>
    {{#if loggedIn}}
    <div class="right menu">
        <a class="item" id="logoutBtn">Log Out</a>
    </div>
    {{else}}
    <div class="right menu">
        <a class="item" id="loginBtn">Login</a>
        <a class="item" id="signupBtn">Sign Up</a>
    </div>
    {{/if}}
</div>


{{!-- For Login / Sign Up Modal --}}
{{#if loggedIn}}

{{else}}
<div class="ui small modal loginModal">
    <i class="close icon"></i>
    <div class="header">
        Login
    </div>
    <form class="ui form" id="newPostForm">
        <div class="field">
            <label>Username</label>
            <input type="text" id="loginUsername" name="loginUsername">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="text" id="loginPassword" name="loginPassword">
        </div>
    </form>
    <div class="actions">
        <button class="ui black deny button">
            Cancel
        </button>
        <button class="ui positive right labeled icon button" id="loginSubmit">
            Login
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>

<div class="ui small modal signupModal">
    <i class="close icon"></i>
    <div class="header">
        Sign Up
    </div>
    <form class="ui form" id="newPostForm">
        <div class="field">
            <label>Username</label>
            <input type="text" id="signupUsername" name="signupUsername">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="text" id="signupPassword" name="signupPassword" placeholder="Must be between 8-24 chars">
        </div>
        <div class="field">
            <label>Confirm Password</label>
            <input type="text" id="signupPasswordConfirm" name="signupPasswordConfirm">
        </div>
    </form>
    <div class="actions">
        <button class="ui black deny button">
            Cancel
        </button>
        <button class="ui positive right labeled icon button" id="signupSubmit">
            Sign Up
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>
<script>
    $('.loginModal')
        .modal('attach events', '#loginBtn')
        .modal('show');
</script>
<script>
    $('.signupModal')
        .modal('attach events', '#signupBtn')
        .modal('show');
</script>
{{/if}}

{{!-- For Post Modal --}}

<div id="dashboardMain">
    <div id="dashboardWelcome">
        <h3>View Your Posts</h3>
    </div>
    <div id="makePostContainer">
        <div class="ui button" id="createPostBtn">
            Create New Post
        </div>
    </div>
</div>

{{#if loggedIn}}
<div class="ui small modal postModal">
    <i class="close icon"></i>
    <div class="header">
        Add Blog Post
    </div>
    <div class="ui form" id="newPostForm">
        <div class="field">
            <label>Post Title</label>
            <input type="text" name="newPostTitle" id="newPostTitle">
        </div>
        <div class="field">
            <label>Post Content</label>
            {{!-- <input type="text" name="newPostContent"> --}}
            <textarea rows="5" name="newPostContent" id="newPostContent"></textarea>
        </div>
    </div>
    <div class="actions">
        <button class="ui black deny button">
            Cancel
        </button>
        <button class="ui positive right labeled icon button" id="newPostSubmit">
            Post
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>
<script>
    $('.postModal')
        .modal('attach events', '#createPostBtn')
        .modal('show');
</script>
{{/if}}
