<div class="ui huge menu" id="appMenu">
    <div class="item">
        <h3>Tech Blog</h3>
    </div>
    <a class="item" href="/">HomePage</a>
    <a class="item" href="/dashboard">DashBoard</a>
    {{#if loggedIn}}
    <div class="right menu">
        <a class="item" id="logoutBtn">Log Out</a>
    </div>
    {{else}}
    <div class="right menu">
        <a class="item" id="loginBtn">Login</a>
        <a class="item" id="signupBtn">Sign Up</a>
    </div>
    {{/if}}
</div>

<div id="homePageMain">
    <div id="homeWelcome">
        <h2>Post Feed</h2>
    </div>

    <div id="homePostContainer">
        <div class="renderedPost">
            <div class="renderedPostHeader ui secondary menu">
                <div class="item">
                    <h5>Why CSS is dank</h5>
                </div>
                <div class="right menu">
                    <div class="item">
                        <h7>Posted by CRJ on 6/15/23</h7>
                    </div>
                </div>
            </div>
            <div class="renderedPostContent">
                <p>CSS is essential for styling website and giving them drop and all kidn of awesome thigns
                    yeahdhsfasdjklf sdf df df df dsf s a SD JKASDK AKKSD SKADJ AJSD ASD </p>
            </div>
        </div>

    </div>
</div>

{{#if loggedIn}}

{{else}}

<div class="ui small modal loginModal">
    <i class="close icon"></i>
    <div class="header">
        Login
    </div>
    <form class="ui form" id="newPostForm">
        <div class="field">
            <label>Username</label>
            <input type="text" id="loginUsername" name="loginUsername">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="text" id="loginPassword" name="loginPassword">
        </div>
    </form>
    <div class="actions">
        <button class="ui black deny button">
            Cancel
        </button>
        <button class="ui positive right labeled icon button" id="loginSubmit">
            Login
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>

<div class="ui small modal signupModal">
    <i class="close icon"></i>
    <div class="header">
        Sign Up
    </div>
    <form class="ui form" id="newPostForm">
        <div class="field">
            <label>Username</label>
            <input type="text" id="signupUsername" name="signupUsername">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="text" id="signupPassword" name="signupPassword" placeholder="Must be between 8-24 chars">
        </div>
        <div class="field">
            <label>Confirm Password</label>
            <input type="text" id="signupPasswordConfirm" name="signupPasswordConfirm">
        </div>
    </form>
    <div class="actions">
        <button class="ui black deny button">
            Cancel
        </button>
        <button class="ui positive right labeled icon button" id="signupSubmit">
            Sign Up
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>
<script>
    $('.loginModal')
        .modal('attach events', '#loginBtn')
        .modal('show');
</script>
<script>
    $('.signupModal')
        .modal('attach events', '#signupBtn')
        .modal('show');
</script>
{{/if}}
