<div class="ui huge stackable menu appMenu" >
    <div class="item">
        <h3>Tech Blog</h3>
    </div>
    <a class="item" href="/">HomePage</a>
    {{#if loggedIn}}
    <a class="item" href="/dashboard">DashBoard</a>
    {{else}}
    <a class="item signupBtn">DashBoard</a>
    {{/if}}
    {{#if loggedIn}}
    <div class="right menu">
        <a class="item" id="logoutBtn">Log Out</a>
    </div>
    {{else}}
    <div class="right menu">
        <a class="item" id="loginBtn">Login</a>
        <a class="item signupBtn">Sign Up</a>
    </div>
    {{/if}}
</div>

<div id="homePageMain">
    <div id="homeWelcome">
        <h2>Post Feed</h2>
    </div>


    <div id="homePostContainer">
        {{#each posts as |post|}}
        {{> post-partial}}
        {{/each}}
    </div>
</div>

{{#if loggedIn}}
<div class="ui small modal commentModal">
    <i class="close icon"></i>
    <div class="header">
        Add Comment
    </div>
    <form class="ui form" id="newCommentForm">
        <div class="field">
            <textarea rows="4" name="newComment" id="newComment" placeholder="No more than 150 chars" class="newComment"></textarea>
        </div>
    </form>
    <div class="actions">
        <button class="ui black deny button">
            Cancel
        </button>
        <button class="ui positive right labeled icon button submitCommentBtn" id="submitComment">
            Leave Comment
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>
<script>
    $('.commentModal')
        .modal('attach events', '.commentBtn')
       // .modal('show');
</script>
{{else}}

<div class="ui small modal loginModal">
    <i class="close icon"></i>
    <div class="header">
        Login
    </div>
    <form class="ui form" id="newPostForm">
        <div class="field">
            <label>Username</label>
            <input type="text" id="loginUsername" name="loginUsername">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="text" id="loginPassword" name="loginPassword">
        </div>
    </form>
    <div class="actions">
        <button class="ui black deny button">
            Cancel
        </button>
        <button class="ui positive right labeled icon button" id="loginSubmit">
            Login
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>

<div class="ui small modal signupModal">
    <i class="close icon"></i>
    <div class="header">
        Sign Up
    </div>
    <form class="ui form" id="newPostForm">
        <div class="field">
            <label>Username</label>
            <input type="text" id="signupUsername" name="signupUsername">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="text" id="signupPassword" name="signupPassword" placeholder="Must be between 8-24 chars">
        </div>
        <div class="field">
            <label>Confirm Password</label>
            <input type="text" id="signupPasswordConfirm" name="signupPasswordConfirm">
        </div>
    </form>
    <div class="actions">
        <button class="ui black deny button">
            Cancel
        </button>
        <button class="ui positive right labeled icon button" id="signupSubmit">
            Sign Up
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>


<script>
    $('.loginModal')
        .modal('attach events', '#loginBtn')
      //  .modal('show');
</script>
<script>
    $('.signupModal')
        .modal('attach events', '.signupBtn')
       // .modal('show');
</script>
{{/if}}