<div class="ui huge menu" id="appMenu">
    <div class="item">
        <h3>Tech Blog</h3>
    </div>
    <a class="item" href="/">HomePage</a>
    <a class="item" href="/dashboard">DashBoard</a>
    <div class="right menu">
        <a class="item">Login</a>
        <a class="item">Sign Up</a>
    </div>
</div>

<div id="homePageMain">
    <div id="homeWelcome">
            <h2>Post Feed</h2>
        </div>
        
    <div id="homePostContainer">
        <div class="renderedPost">
            <div class="renderedPostHeader ui secondary menu">
                <div class="item">
                    <h5>Why CSS is dank</h5>
                </div>
                <div class="right menu">
                    <div class="item">
                        <h7>Posted by CRJ on 6/15/23</h7>
                    </div>
                </div>
            </div>
            <div class="renderedPostContent">
                <p>CSS is essential for styling website and giving them drop and all kidn of awesome thigns yeahdhsfasdjklf sdf df df df dsf s a SD JKASDK AKKSD SKADJ AJSD ASD </p>
            </div>
        </div>

    </div>
</div>