
/* For Dashboard menu */


/* For Dashboard div */

#dashboardWelcome {
    text-align: center;
    width: 100%;
    background-color: white;
    padding-top: 3%;
}

#dashboardWelcome h3 {
    font-size: 30px;
}

#dashboardMain {
    height: 100%;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(102, 99, 99);
}

#makePostContainer {
    width: 100%;
    height: 10%;
    padding: 3%;
    background-color: white;
    text-align: center;
}


/* For New Post Modal */ 
#newPostForm {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#updatedPostForm {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* For Your Posts */

#yourPostsDiv {
    padding: 5%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.yourPosts {
    background-color: rgb(192, 190, 190);
    margin-top: 1%;
    margin-bottom: 5%;
    border: solid 2px rgb(49, 49, 49);
    border-radius: 10px;
}

.updateDeleteDiv {
    text-align: center;
    font-size: 24px;
}


/* For Footer */

footer {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0);
}